<!DOCTYPE html>
<html>
<head>
  <title>Gitator</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="index.css" />
</head>
<body>
  <div id="loadingDiv" class="loading"></div>
  <a href="https://github.com/prat0318/gitator"><img style="position:absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

  <div class="container">
    <img style="float:right" src="http://gravatar.com/avatar/<%=settings.main.user_info.gravatar_id%>"></img>
	<div class="page-header" style="margin:0 0 30px">
	  <h1>Gitator <small>Find awesome repos which best suit your profile!
	  <span style="float:right; line-height: 2; margin-right:10px">@<%=settings.main.username%></span>
	  </small></h1>
	</div>

	<ul id="search-type" class="nav nav-tabs nav-justified">
	  <li class="active"><a href="#" data-toggle="tab" name="repos" class="search-type">Repo</a></li>
	  <li><a href="#" data-toggle="tab" name="locn" class="search-type">Location</a></li>
	  <li><a href="#" data-toggle="tab" name="orgs" class="search-type">Org.</a></li>
	</ul>
	<div id="main-body" style="overflow:hidden">
		<div style="margin: 10px; float: right; width: 67%">
			<ul id="lang" class="nav nav-pills nav-justified" style="padding-bottom: 15px">
			  <% settings.main.lang.each do |i| %>
			    <li><a href="#" data-toggle="pill" name="<%= i %>"><%= i %></a></li>
			  <% end %>

			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="lang-dropdown">
			      Others <span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu">
			    	<% Gitator::Main::ALL_LANGS.each do |lang| %>
			    	<li><a href="#" data-toggle="pill" name="<%= lang%>"><%=lang%></a></li>
			    	<% end %>
			    </ul>
			  </li>
			</ul>
			<div id="suggestion"></div>
		</div>
		<ul id="category" class="nav nav-pills nav-stacked" style="width:30%; float:left; margin:5px; padding-top: 60px">
			<% settings.main.sidebar.each do |k,v| %>
				<% v.each do |val| %>
					<li style="display:none" class="<%=k%> category"><a class="height-120" href="#" data-toggle="pill" name="<%=val[0]%>">
					<%=val[0]%></a></li>
				<% end %>
			<% end %>
		</ul>
  	</div>
  </div>
</body>
</html>

<!-- Latest compiled and minified JavaScript -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script>
    $(".nav").click(function(e){
    	if($(e.target).hasClass("search-type"))
    		setTimeout( function(){updateSidebar(e)}, 10);
    	else
    		ajaxCall(e);
    });

    function updateSidebar(e){		
		$(".category").hide()
		$(".category").removeClass("active")
		$("."+getName("search-type")).show()
		$($("#category").children(":visible").first()).addClass("active")
		ajaxCall(e);
    }

    function getName(divId) {
    	var divString = "#"+divId;
    	return $($($(divString).find(".active").last()).children()[0]).attr('name');
    }

    function buildRepoPanel(object) {
    	html = '<div class="panel panel-info"><div class="panel-body">'+
                    				object.owner+'/'+object.name+'</div></div>';
		$(html).hide().appendTo("#suggestion").fadeIn(500);
    }

    function buildUserPanel(object) {
    	html = '<div class="panel panel-info"><div class="panel-body">'+
                    				object.login+'/'+object.type+'</div></div>';
		$(html).hide().appendTo("#suggestion").fadeIn(500);
    }

    function ajaxCall(e) {
		if(e && e.target.id == "lang-dropdown") return;
		setTimeout(function () {
        	$.ajax({
                type: "GET",
                url: "/suggest",
                data: {lang: getName("lang"), 
                	   category: getName("category"),
                	   search_type: getName("search-type")},
                success: function(data){
                		data = $.parseJSON(data);
                		$("#suggestion").empty();
                		if(!data.suggestions || (data.suggestions.length == 0)) {
                			$("#suggestion").html("Error! No Data found :(")
            				return
                		}
                		$.each(data.suggestions, function(index, object){
                			window["build"+data.type+"Panel"](object)
                		});
                },
                error: function(response, q, t){
                        $("#suggestion").html("Oops! Something went wrong.")
                }
            }, 20);
        });
    }

    var $loading = $('#loadingDiv').fadeTo(0, 0);
	$(document)
	  .ajaxStart(function () {
	    $loading.fadeTo(600, 1);
	  })
	  .ajaxStop(function () {
	    $loading.fadeTo(600, 0);
	  });
	$("."+getName("search-type")).show()
	$($("#category").children(":visible").first()).addClass("active")
	$($("#lang").children().first()).addClass("active")
	ajaxCall(null);
</script>